
@{
    ViewData["Title"] = "Tool";
}
@using ManjuuDomain.Dto
@model ToolConfigDto

@section styles{
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/jHsDate.css" rel="stylesheet" />
    <link href="~/css/ladda-themeless.min.css" rel="stylesheet" />
    <link href="~/css/noticejs.css" rel="stylesheet" />
}

<div class="container">
    <div class="py-5 text-center">
        <h2>工具客户端选项配置</h2>
        <p class="lead" style="color:#f38421;">注意：目前的配置，将全局应用到所有待检测设备上，并不能单独特殊配置某个设备</p>
    </div>



    <div class="row">
        <div class="col-md-12 order-md-1">
            @*工具客户端每天工作时间*@
            <h4 class="mb-3">工具客户端每天工作时间 <span class="text-muted">(两个选项同时设置才生效)</span></h4>
            <form class="needs-validation" novalidate="">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="StartToWrokTime">开始工作时间 <span class="text-muted">(可选)</span></label>
                        <input type="text" class="form-control" id="StartToWrokTime" name="StartToWrokTime" placeholder="HH:mm" autocomplete="off" value="@(null != Model?Model.StartToWrokTime:"")">
                        <div class="invalid-feedback">
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="StopToWorkTime">停止工作时间 <span class="text-muted">(可选)</span></label>
                        <input type="text" class="form-control" id="StopToWorkTime" name="StopToWorkTime" placeholder="HH:mm" autocomplete="off" value="@(null != Model?Model.StopToWorkTime:"")">
                        <div class="invalid-feedback">
                        </div>
                    </div>
                </div>
                @*工具客户端每天工作时间*@

                @*Ping命令执行参数*@
                <br />
                <br />
                <h4 class="mb-3">Ping命令执行参数</h4>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="PresetTimeout">预设超时时间,单位毫秒</label>
                        <input type="text" class="form-control" id="PresetTimeout" name="PresetTimeout" placeholder="ms" autocomplete="off" value="@(null != Model&&Model.PresetTimeout>0?Model.PresetTimeout.ToString():"")" required="required">
                        <div class="invalid-feedback">
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="PingSendCount">每个地址ping的次数,默认4次</label>
                        <input type="text" class="form-control" id="PingSendCount" name="PingSendCount" placeholder="" autocomplete="off" value="@(null != Model&&Model.PingSendCount>0?Model.PingSendCount:4)" required="required">
                        <div class="invalid-feedback">
                        </div>
                    </div>
                </div>
                @* <div class="mb-3">
                        <label for="username">Username</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">@@</span>
                            </div>
                            <input type="text" class="form-control" id="username" placeholder="Username" required="">
                            <div class="invalid-feedback" style="width: 100%;">
                                Your username is required.
                            </div>
                        </div>
                    </div>*@
                @*Ping命令执行参数*@

                @*所有地址Ping完成后，工具休息间隔*@
                <br />
                <br />
                <h4 class="mb-3">所有地址Ping完后工具休息时间</h4>

                <div class="mb-3">
                    <label for="WorkSpan">工具休息时间，单位毫秒 <span class="text-muted">(可选，目的为了不一直消耗CPU资源)</span></label>
                    <input type="text" class="form-control" id="WorkSpan" name="WorkSpan" placeholder="ms" autocomplete="off" value="@(null != Model?Model.WorkSpan.HasValue?Model.WorkSpan.Value.ToString():"":"")">
                    <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                    </div>
                </div>
                @*所有地址Ping完成后，工具休息间隔*@


                @*<div class="mb-3">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" id="address" placeholder="1234 Main St" required="">
                        <div class="invalid-feedback">
                            Please enter your shipping address.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                        <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
                    </div>

                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label for="country">Country</label>
                            <select class="custom-select d-block w-100" id="country" required="">
                                <option value="">Choose...</option>
                                <option>United States</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="state">State</label>
                            <select class="custom-select d-block w-100" id="state" required="">
                                <option value="">Choose...</option>
                                <option>California</option>
                            </select>
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="zip">Zip</label>
                            <input type="text" class="form-control" id="zip" placeholder="" required="">
                            <div class="invalid-feedback">
                                Zip code required.
                            </div>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="same-address">
                        <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="save-info">
                        <label class="custom-control-label" for="save-info">Save this information for next time</label>
                    </div>
                    <hr class="mb-4">

                    <h4 class="mb-3">Payment</h4>

                    <div class="d-block my-3">
                        <div class="custom-control custom-radio">
                            <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">
                            <label class="custom-control-label" for="credit">Credit card</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required="">
                            <label class="custom-control-label" for="debit">Debit card</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required="">
                            <label class="custom-control-label" for="paypal">PayPal</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="cc-name">Name on card</label>
                            <input type="text" class="form-control" id="cc-name" placeholder="" required="">
                            <small class="text-muted">Full name as displayed on card</small>
                            <div class="invalid-feedback">
                                Name on card is required
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="cc-number">Credit card number</label>
                            <input type="text" class="form-control" id="cc-number" placeholder="" required="">
                            <div class="invalid-feedback">
                                Credit card number is required
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="cc-expiration">Expiration</label>
                            <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
                            <div class="invalid-feedback">
                                Expiration date required
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="cc-cvv">CVV</label>
                            <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                            <div class="invalid-feedback">
                                Security code required
                            </div>
                        </div>
                    </div>*@
                <hr class="mb-4">
                <button id="alterConfiguration" class="btn btn-primary btn-lg btn-block ladda-button" hidden="@(null == Model)" type="button" data-style="zoom-in"><span class="ladda-label">更改配置</span></button>
                <button id="addConfiguration" class="btn btn-primary btn-lg btn-block ladda-button" hidden="@(null != Model)" type="button" data-style="zoom-in"><span class="ladda-label">增加配置</span></button>
            </form>
        </div>
    </div>
    @*id在这里*@
    @if (null != Model)
    {
        <input type="hidden" id="Id" name="Id" autocomplete="off" value="@Model.Id" />
    }
</div>

@section Scripts{
    <script src="~/js/jHsDate.js"></script>
    <script src="~/js/axios.min.js"></script>
    <script src="~/js/spin.min.js"></script>
    <script src="~/js/ladda.min.js"></script>
    <script src="~/js/notice.js"></script>
    <script src="~/js/tool_index.js"></script>


}



